<div class="div_menu">

        <a href="/" class="item">home</a>

        <a href="/cute" class="item">강쥐</a>

        <a href="/books" class="item">도서검색</a>
    
        <a href="/movies" class="item">영화검색</a>
        
        <a href="/shop" class="item">상품검색</a>

        <a href="/bbs" style="float: right";
        class="item";>
        게시판</a>

       <a href="/todos" style="float: right; margin-right: 20px;";
        class="item";>할 일</a>

        <hr>


</div>