@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
*{
    font-family:"Single Day"; 
}

.bottom{
    text-align: center;
    margin: 100px 0px;
}
h1{
    text-align: center;
    padding: 20px;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.title{
    color: rgb(190, 98, 0);
    font-size: 17px;
}