<h1><%=title%></h1>
<!--실질적으로나오게함-->
<div class="row mb-2">
    <div class="col-6 col-md-4">
        <form class="input-group" name="frm">
            <input class="form-control" name="query" value="강아지수제간식" placeholder="검색어">
            <button class="btn btn-success">검색</button>
        </form>
    </div>
</div>
<div id="div_book" class="row"></div>
<div class="text-center my-3">
    <button class="btn btn-success" id="prev">이전</button>
    <span class="mx-3" id="page">1</span>
    <button class="btn btn-success" id="next">다음</button>
</div>

<!--도서템플릿-->
<script id="temp_book" type="x-handlebars-template">
{{#each documents}}
    <div class="col-lg-2 col-md-4 col-6 mb-2">
        <div class="card">
            <div class="card-body">
                <img src={{check thumbnail}} width="90%" id={{@index}} style="cursor:pointer;">
            </div>
            <div class="card-footer">
                <div class="ellipsis title">{{title}}</div>
                <%-include('modal.ejs')%>
            </div>
        </div>        
    </div> 
{{/each}}
</script>
<!--이미지유무체크 함수-->
<script>
    
     Handlebars.registerHelper("check", function(thumbnail){
        if(thumbnail){
            return thumbnail;
        }else{
            return "http://via.placeholder.com/150x170";
        }
    });
</script>

<!--도서찾는시스템 함수로만들고 호출하기-->
<script>
   
   let query =$(frm.query).val();
   let page=1;
   getData();

   //이미지를 클릭한 경우
   $("#div_book").on("click", "img",function(){
        const id=$(this).attr("id");
        $("#modal" + id).modal("show");
   });
   //다음,이전버튼 클릭한경우
   $("#next").on("click",function(){
        page++;
        getData();
   });
   $("#prev").on("click",function(){
        page--;
        getData();
   });

    $(frm).on("submit", function(e){
        e.preventDefault();
        query =$(frm.query).val();
        if(query==""){
            alert("검색어를 입력하세요")
        }else{
            page=1;
            getData();
        }
    }); 
    
    function getData(){ //데이터가져오는함수
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book",
            dataType:"json",
            data:{query:query, size:6, page:page},
            headers:{"authorization":"KakaoAK f3d977d0f78639ca211ff67b0676d64c"},
            success: function(data){
                //alert("성공!");
                console.log(data);
                const temp=Handlebars.compile($("#temp_book").html());
                $("#div_book").html(temp(data));
                const last=Math.ceil(data.meta.pageable_count/6);
                $("#page").html(`<b>${page}/${last}</b>`);
                if(page==1){
                        $("#prev").attr("disabled",true);
                }else{
                        $("#prev").attr("disabled",false);
                }

                if(data.meta.is_end){
                        $("#next").attr("disabled",true);
                }else{
                        $("#next").attr("disabled",false);
                }
            }
        });
    }
    
</script>