
<div></div>
<div id="div_cafe"></div>
<div class="text-center my-3">
    <button class="btn" id="prev">이전</button>
    <span class="mx-3" id="page">1</span>
    <button  class="btn" id="next">다음</button>
</div>
<script id="temp_cafe" type="x-handlebars-template">
   <table class="table table-striped table-hover">
        <tr>
            <td>장소명</td>
            <td>전화</td>
            <td>주소</td>
        </tr>
        {{#each documents}}
            <tr>
                <td>{{place_name}}</td>
                <td>{{phone}}</td>
                <td>{{address_name}}</td>
            </tr>
        {{/each}}
    </table>
</script>

<script>
let page=1;
 getData();

    $("#next").on("click",function(){//다음버튼
        page++;
        getData();
   });
   $("#prev").on("click",function(){//이전버튼
        page--;
        getData();
   });
   

   
    function getData(){
       $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v2/search/blog",
            dataType:"json",
            data:{query:"강서구 애견카페", size:5, page:page},
            headers:{"authorization":"KakaoAK f3d977d0f78639ca211ff67b0676d64c"},
            success:function(data){
                console.log(data);
                alert("성공!");
                const temp=Handlebars.compile($("#temp_cafe").html());
                $("#div_cafe").html(temp(data));
                 const last=Math.ceil(data.meta.pageable_count/5);
                $("#page").html(`<b>${page}/${last}</b>`);
                if(page==1){
                        $("#prev").attr("disabled",true);
                }else{
                        $("#prev").attr("disabled",false);
                }
                if(data.meta.is_end){
                        $("#next").attr("disabled",true);
                }else{
                        $("#next").attr("disabled",false);
                }
            },
            error: function(xhr, status, error) {
            console.error("Ajax 요청 실패:", status, error);
            alert("Ajax 요청에 실패했습니다. 다시 시도해 주세요.");
        }

        });  
    }
</script>