<div class="menu_menubar">
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid ">
        <a class="navbar-brand" href="/"><span class="menuM">책방</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/book">도서검색</a>
                </li>
                <li class="nav-item dropend">
                    <a class="nav-link dropend-toggle" data-bs-toggle="dropdown"aria-current="page" href="#" role="button"
                        aria-expanded="false">
                        게시판
                    </a>
                    <ul class="dropdown-menu" >
                        <li><a class="dropdown-item" href="#" aria-current="page">자유 페이지</a></li>
                        <!--책추천,사담-->
                        <li><a class="dropdown-item" href="/review/list" aria-current="page">후기 페이지</a></li>
                        <!-- 분류별로 0-9나누기-->
                    </ul>
                </li>
                <li class="nav-item  " id="login">
                    <a class="nav-link active" aria-current="page" href="/user/login">로그인 | 회원가입</a>
                </li>
                <li class="nav-item" id="uid" style="display:none;">
                    <a class="nav-link active" aria-current="page" href="/user/mypage"></a>
                </li>
                <li class="nav-item" id="logout" style="display:none;">
                    <a class="nav-link active" aria-current="page" href="#">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>

<script>
    const uid = sessionStorage.getItem('uid');
    $("#uid").on("click", "a", function (e) {
        e.preventDefault();
        location.href = "/user/mypage?uid=" + uid;
    });

    if (uid) {
        $("#login").hide();
        $("#logout").show();
        $("#uid").show();
        $("#uid a").html(uid);
    } else {
        $("#login").show();
        $("#logout").hide();
        $("#uid").hide();
    }

    //로그아웃 메뉴를 클릭한 경우
    $("#logout").on("click", "a", function (e) {
        e.preventDefault();
        if (confirm("로그아웃하실래요")) {
            sessionStorage.clear();
            location.href = "/";
        }
    });
</script>